**/*.log
**/*.md
**/.DS_Store
.git
.github
.idea
.vscode
.phpunit.cache
.env.local
.env.*.local
.env.docker
.env.docker.dist
backups/
compose*.yaml
Makefile
var/
vendor/
public/bundles/
public/uploads/logos/*
config/jwt/*.pem
docs/
examples/
